
.navbar{
height: 80px;
width: 100%;
background: rgba(0,0,0,1);
}

.logo{
width: 120px;
height: 60px;
padding 20px 100px;
}

.logo2{
width: 40px;
height: 30px;
padding 20px 100px;

}


.navbar ul{
float :right;
margin-right:40px;
}

.navbar ul li{
list-style: none;
margin: 0 8px;
display: inline-block;
line-height: 80px;
}

.navbar ul li a{
text-decoration: none;
color:white;
font-size: 20px;
padding 6px 13px;
font-family: sans-serif;
transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
background: red;
border-radius: 2px;
}